.container-fluid{
    width: 100%;
    padding-right: 11px;
    padding-left: 11px;
    margin-right: auto;
    margin-left: auto;
}
.container{
    @extend .container-fluid;
    @media (min-width: 576px){ max-width: 540px; }
    @media (min-width: 768px){ max-width: 750px; }
    @media (min-width: 992px){ max-width: 1140px; }
    @media (min-width: 1300px){ max-width: 1140px; }
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

[class*="col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

//col auto 
$col_auto_list: auto, md-auto, lg-auto, xl-auto;
@each $item in $col_auto_list{
    .col-#{$item}{
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
}




.col-1{
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-2{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-5{
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%; 
}
.col-7{
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-8{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10{
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-11{
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px){
    .col-sm-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%; 
    }
    .col-sm-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11{
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    } 
}
@media (min-width: 768px){
    .col-md-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%; 
    }
    .col-md-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11{
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px){
    .col-lg-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6{
        flex: 0 0 50%;
        max-width: 50%; 
    }
    .col-lg-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-lg-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11{
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-lg-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px){
    .col-xl-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xl-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xl-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xl-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-xl-6{
        flex: 0 0 50%;
        max-width: 50%; 
    }
    .col-xl-7{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-xl-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-xl-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-xl-11{
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-xl-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}




// text-align: center , left , right 
$text_align_list: left, center , right;
@each $item in $text_align_list{
    .text-#{$item}{
        text-align: $item !important; 
    }
}



//justify-content: center, space-between, space-around,flex-end, flex-start  
$justify_content_list: center, space-between, space-around,flex-end, flex-start  ;
@each $item in $justify_content_list{
    .justify-content-#{$item}{
        justify-content: $item !important; 
    }
}

//display position
$display_list: none, block, table, flex, inline, inline-block;
@each $item in $display_list{
    .d-#{$item}{
        display: $item !important;
    }
}

// margin and padding spaces
$space : 1, 2, 3, 4, 5, auto;
@each $item,  $position in 
    (t, top),
    (b, bottom),
    (l, left),
    (r, right){
    @each $space_item in $space {
        .m#{$item}-#{$space_item}{
            @if $space_item == auto {
                margin-#{$position}: auto !important;  
            }
            @else{
                margin-#{$position}: $space_item+rem !important;  
            }           
        }
        .p#{$item}-#{$space_item}{
            @if $space_item== auto {
                padding-#{$position}: auto !important;  
            }
            @else{
                padding-#{$position}: $space_item+rem !important;  
            }            
        }
    } 
}
.mx-auto{
    margin-left: auto !important;
    margin-right:  auto !important;
}
.my-auto{
    margin-top: auto !important;
    margin-bottom:  auto !important;
}

@media (min-width: 1200px){
    .my-lg-auto{
        margin-top: auto !important;
        margin-bottom:  auto !important;
    }
    .mx-lg-auto{
        margin-left: auto !important;
        margin-right:  auto !important;
    }
}