$wht:#fff;
$blk:#000;
$bgcolor: #f8f8f8;
$blockcolor: #555555;
$btncolor: #F17F65;
$goodcolor:#252525;
$verificl: #373B44;
$burgercl:#3B5390;
$articlecolor:#373B44;
$imglentcl1:#1C9B82;
$imglentcl2:#EA69A5;
$datecl:#42B690;
$cl1:#486A99;
$cl2:#ECAF77;







