---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---

{{!-- breadcrump --}}
    <div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="">Главная</a></li>
                <li><a href="" class="active">Акции</a></li>
            </ul>
        </div>
    </div>
{{!-- breadcrump --}}


<div class="action-block">
    <div class="container">
        <h3 >Guzestli products</h3>
        {{!-- <div class="row">
            <div class="col-md-3">
                <div class="xudoj-box">
                    <a href="current_product.html">
                        <img src="content/23.jpg" alt="">
                        <span class="usd price1">800</span>
                        <span class="azn price1">800</span>
                        <span class="gpb price1">800</span>
                        <span class="gpb">800</span>
                        <span class="azn">800</span>
                        <span class="usd">800</span>
                        <div class="info">
                            <h3>Vincent van Gogh</h3>
                            <p>Gune baxanlar</p>
                            <p><b>Size:</b>1680x900</p>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div> --}}

        <div class="gray-bg">
                        <div class="container">
                            <div class="row">
                    
                                <div class="col-md-12 px-0">
                                    <div id="masonry">
                                        <div data-filter="one" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/24.jpg" alt="">
                                                    <span class="usd price1">800</span>
                                                    <span class="azn price1">800</span>
                                                    <span class="eur price1">800</span>
                                                    <span class="eur">800</span>
                                                    <span class="azn">800</span>
                                                    <span class="usd">800</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Vincent van Gogh</h3>
                                                        <p>Gune baxanlar</p>
                                                        <p><b>Size:</b>1680x900</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html" class="active"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="two" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="#" data-fancybox="images" class="fancybox" >
                                                    <img class="img-thumbnail img-responsive" src="content/24.jpg" alt="">
                                                    <span class="usd price1">800</span>
                                                    <span class="azn price1">800</span>
                                                    <span class="eur price1">800</span>
                                                    <span class="eur">800</span>
                                                    <span class="azn">800</span>
                                                    <span class="usd">800</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Vincent van Gogh</h3>
                                                        <p>Gune baxanlar</p>
                                                        <p><b>Size:</b>1680x900</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  <div data-filter="three" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/20.jpg" alt="">
                                                    <span class="usd price1">800</span>
                                                    <span class="azn price1">800</span>
                                                    <span class="eur price1">800</span>
                                                    <span class="eur">800</span>
                                                    <span class="azn">800</span>
                                                    <span class="usd">800</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Vincent van Gogh</h3>
                                                        <p>Gune baxanlar</p>
                                                        <p><b>Size:</b>1680x900</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>