---
not-found: false
cabinet: false

---
<div class="basket-block">
    <div class="container">
        <h2>Səbət</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="left-basket">
                    <div class="img-text">
                        <div class="img">
                            <img src="content/29.jpg" alt="">
                        </div>
                        <div class="text">
                            <h3>Mehsulun adi</h3>
                            <p>Mehsulun sayi <b>2</b></p>
                            <div class="link-block">
                                <a href=""><img src="img/close.svg" class="close-icon" alt="">istəklərə at</a>
                                <a href=""><img src="img/cancel.svg" alt=""> səbətdən sil</a>
                            </div>
                        </div>
                    </div>
                    <h3 class="price">1799 AZN</h3>
                </div>
                <div class="left-basket">
                    <div class="img-text">
                        <div class="img">
                            <img src="content/29.jpg" alt="">
                        </div>
                        <div class="text">
                            <h3>Mehsulun adi</h3>
                            <p>Mehsulun sayi <b>2</b></p>
                            <div class="link-block">
                                <a href=""><img src="img/close.svg" class="close-icon"   alt="">istəklərə at</a>
                                <a href=""><img src="img/cancel.svg" alt=""> səbətdən sil</a>
                            </div>
                        </div>
                    </div>
                    <h3 class="price">1799 AZN</h3>
                </div>
                <div class="left-basket">
                    <div class="img-text">
                        <div class="img">
                            <img src="content/29.jpg" alt="">
                        </div>
                        <div class="text">
                            <h3>Mehsulun adi</h3>
                            <p>Mehsulun sayi <b>2</b></p>
                            <div class="link-block">
                                <a href=""><img src="img/close.svg" class="close-icon"  alt="">istəklərə at</a>
                                <a href=""><img src="img/cancel.svg" alt=""> səbətdən sil</a>
                            </div>
                        </div>
                    </div>
                    <h3 class="price">1799 AZN</h3>
                </div>
                <div class="left-basket">
                    <div class="img-text">
                        <div class="img">
                            <img src="content/29.jpg" alt="">
                        </div>
                        <div class="text">
                            <h3>Mehsulun adi</h3>
                            <p>Mehsulun sayi <b>2</b></p>
                            <div class="link-block">
                                <a href=""><img src="img/close.svg" class="close-icon"  alt="">istəklərə at</a>
                                <a href=""><img src="img/cancel.svg" alt=""> səbətdən sil</a>
                            </div>
                        </div>
                    </div>
                    <h3 class="price">1799 AZN</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="right-basket">
                    <div class="box">
                        <h3>Səbətiniz</h3>
                        <p>2 məhsul</p>
                    </div>
                    <div class="box">
                        <h4>Məhsullar</h4>
                        <p>2099 ₼ </p>
                    </div>
                    <div class="box">
                        <h4>Çatdırılma</h4>
                        <p>0 ₼  </p>
                    </div>
                    <div class="box">
                        <h4 class="bold">Ümumi məbləğ</h4>
                        <p class="reng">1784 ₼</p>
                    </div>
                    <a href="" class="basket-btn">Davam et</a>
                </div>
            </div>
        </div>
    </div>
</div>