---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---

{{!-- breadcrump --}}
    <div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="">Главная</a></li>
                <li><a href="">Фотографии</a></li>
                <li><a href="" class="active">Портрет актрисы Жанны Самари</a></li>
            </ul>
        </div>
    </div>
{{!-- breadcrump --}}

<div class="curren-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="owl-carousel book-carousel owl-theme">
                    <div class="item"><img src="content/20.jpg" alt=""></div>
                    <div class="item"><img src="content/21.jpg" alt=""></div>
                    <div class="item"><img src="content/20.jpg" alt=""></div>
                    <div class="item"><img src="content/20.jpg" alt=""></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h1>Портрет актрисы Жанны Самари</h1>
                    <h2>Пьер Огюст Ренуар</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto numquam fugiat animi quas odit temporibus, repudiandae, aliquid, fugit doloremque praesentium perferendis harum ratione excepturi. Impedit sapiente nam, optio odio.</p>
                
                    <div class="add_block">
                        <div class="usd  azn pgb">
                            <span>800 AZN</span>
                        </div>
                        <div class="add-link">
                        <a href="favorit.html">
                            <img src="img/heart_white_icon.svg"  class="active1" alt="">
                        </a>
                        <a href="buy.html">
                            <img src="img/basket_white_icon.svg" alt="">
                        </a>
                    </div>
                    </div>

                    <div class="products_params">
                        <ul>
                            <li>
                                <span>Размер холста:</span>
                                <strong>780 x 640 mm</strong>
                            </li>
                             <li>
                                <span>Тexnika</span>
                                <strong>Масло</strong>
                            </li>
                             <li>
                                <span>Detal:</span>
                                <strong>22/08/2020</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="editions-block">
    <div class="container">
        <h3 class="book-title">Kitablar</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>