---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---

{{!-- breadcrump --}}
    <div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="">Главная</a></li>
                <li><a href="" class="active">Корзина</a></li>
            </ul>
        </div>
    </div>
{{!-- breadcrump --}}



<div class="curren-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="img text">
                    <img src="content/20.jpg" alt="">
                    <div class="products_params">
                        <ul>
                            <li>
                                <span>Размер холста:</span>
                                <strong>780 x 640 mm</strong>
                            </li>
                             <li>
                                <span>Тип картипы:</span>
                                <strong>Масло</strong>
                            </li>
                             <li>
                                <span>Добавлено:</span>
                                <strong>22/08/2020</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="text">
                    <h1>Портрет актрисы Жанны Самари</h1>
                    <h2>Пьер Огюст Ренуар</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto numquam fugiat animi quas odit temporibus, repudiandae, aliquid, fugit doloremque praesentium perferendis harum ratione excepturi. Impedit sapiente nam, optio odio.</p>
                
                    <div class="add_block">
                        <div class="price">
                            <h2>цена товара</h2>
                            <span>800 AZN</span>
                        </div>
                        
                    </div>

                    <a href="payment.html" class="next">Продолжить</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>


