---
not-found: false
login: false
titles: [
{
    basliq: "ƏLAQƏ",
}
]
---



<div class="contacts padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact_right b-radius">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d517.0290029500069!2d49.85294495935045!3d40.37380455788994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64d0daa228312c9e!2zSMO2a8O8bcmZdCBFdmk!5e0!3m2!1saz!2s!4v1575702667860!5m2!1saz!2s" width="100%" height="256" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact_left b-radius">
                    <div class="head">
                        <h3>Баку</h3>
                        <ul>
                            <li><b>Адрес:</b></li>
                            <li>Baku, st.Rafael Agladze №59</li>
                        </ul>
                        <ul>
                            <li><b>Телефон:</b></li>
                            <li>+994 77 3555 16 30</li>
                        </ul>
                        <ul>
                            <li><b>Почта:</b></li>
                            <li>nfo@gazelli.az</li>
                        </ul>
                    </div>
                    <div class="head">
                        <h3>Тбилиси</h3>
                        <ul>
                            <li><b>Адрес:</b></li>
                            <li>Baku, st.Rafael Agladze №59</li>
                        </ul>
                        <ul>
                            <li><b>Телефон:</b></li>
                            <li>+994 77 3555 16 30</li>
                        </ul>
                        <ul>
                            <li><b>Почта:</b></li>
                            <li>nfo@gazelli.az</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>