---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---

{{!-- breadcrump --}}
    <div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="">Главная</a></li>
                <li><a href="">Фотографии</a></li>
                <li><a href="" class="active">Портрет актрисы Жанны Самари</a></li>
            </ul>
        </div>
    </div>
{{!-- breadcrump --}}

<div class="curren-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img">
                    <img src="content/20.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h1>Портрет актрисы Жанны Самари</h1>
                    <a href="">Пьер Огюст Ренуар</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto numquam fugiat animi quas odit temporibus, repudiandae, aliquid, fugit doloremque praesentium perferendis harum ratione excepturi. Impedit sapiente nam, optio odio.</p>
                
                    <div class="add_block">
                        <div class="usd  azn pgb">
                            <span>800 AZN</span>
                        </div>
                        <div class="counter-box">
                            <div class="glo-count">
                            <button class="decrease-count"></button>
                            <span class="count">1</span>
                            <button class="increase-count"></button>
                        </div>
                        <div class="add-link">
                        <a href="favorit.html" class="active">
                            <img src="img/heart_white_icon.svg" alt="">
                        </a>
                        <a href="buy.html" class="active">
                            <img src="img/basket_white_icon.svg" alt="">
                        </a>
                        <p>Almaq</p>
                        </div>
                        </div>
                    </div>

                    <div class="products_params">
                        <ul>
                            <li>
                                <span>Размер холста:</span>
                                <strong>780 x 640 mm</strong>
                            </li>
                             <li>
                                <span>Тexnika</span>
                                <strong>Масло</strong>
                            </li>
                             <li>
                                <span>Detal:</span>
                                <strong>22/08/2020</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="main-block">
    <div class="container">
        <h2>Последние работы</h2>
        <div class="row">
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
</section>