---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---
<div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="index.html">Главная</a></li>
                <li><a href="" class="active">Editions</a></li>
            </ul>
        </div>
    </div>

<div class="editions-block">
    <div class="container">
        <h3 class="book-title">Kitablar</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                                <h3>Qiymet:500 azn</h3>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html" class="active"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                                <h3>Qiymet:500 azn</h3>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                                <h3>Qiymet:500 azn</h3>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                                <h3>Qiymet:500 azn</h3>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="book-box">
                    <a href="book-inner.html">
                        <div class="book-top">
                            <img src="content/book1.png" alt="">
                        </div>
                    </a>
                        <div class="book-bottom">
                            <div class="texts">
                                <h3>Frans Kafka</h3>
                                <p>Məhkəmə</p>
                                <h3>Qiymet:500 azn</h3>
                            </div>
                            <div class="add-link">
                                <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

   

