---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---

{{!-- breadcrump --}}
    <div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="">Mina</a></li>
                <li><a href="">Events</a></li>
                <li><a href="" class="active">Events-inner</a></li>
            </ul>
        </div>
    </div>
{{!-- breadcrump --}}

<div class="events-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="event-left">
                    <h2>Название акции может быть длинным</h2>
                    <div class="carousel-block">
                        <div class="owl-carousel events-carousel owl-theme">
                            <div class="item"><img src="content/21.jpg" alt=""></div>
                            <div class="item"><img src="content/22.jpg" alt=""></div>
                            <div class="item"><img src="content/23.jpg" alt=""></div>
                            <div class="item"><img src="content/24.jpg" alt=""></div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="event-right">
                    <div class="data-save-block">
                        <h4>Название акции может быть длинным</h4>
                        <h5>Tarix</h5>
                        <p>18 FEVRAL 2020 - 15:00</p>
                        <button class="save">YADDA SAXLA</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
