---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---

{{!-- breadcrump --}}
    <div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="">Главная</a></li>
                <li><a href="">Фотографии</a></li>
                <li><a href="" class="active">Портрет актрисы Жанны Самари</a></li>
            </ul>
        </div>
    </div>
{{!-- breadcrump --}}

<div class="action-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="action-box">
                        <a href="events-inner.html">
                            <div class="action-img">
                                <img src="content/20.jpg" alt="">
                            </div>
                            <div class="action-text">
                                <h3>Название акции может быть длинным</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                                <span>с 19 декабря по 8 января</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="action-box">
                        <a href="events-inner.html">
                            <div class="action-img">
                                <img src="content/20.jpg" alt="">
                            </div>
                            <div class="action-text">
                                <h3>Название акции может быть длинным</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                                <span>с 19 декабря по 8 января</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="action-box">
                        <a href="events-inner.html">
                            <div class="action-img">
                                <img src="content/20.jpg" alt="">
                            </div>
                            <div class="action-text">
                                <h3>Название акции может быть длинным</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                                <span>с 19 декабря по 8 января</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="action-box">
                        <a href="events-inner.html">
                            <div class="action-img">
                                <img src="content/20.jpg" alt="">
                            </div>
                            <div class="action-text">
                                <h3>Название акции может быть длинным</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                                <span>с 19 декабря по 8 января</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination-block">
                <ul class="pagination">
                    <li><a href="" class="prev"><img src="img/carnext.svg" alt=""></a></li>
                    <li><a href="">1</a></li>
                    <li><a href="" class="active">2</a></li>
                    <li><a href="">...</a></li>
                    <li><a href="">10</a></li>
                    <li><a href="" class="next"><img src="img/carnext.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>