---
not-found: false
---
<div class="favorit-block">
    <div class="container">
        <h3 class="fav-title">Favorilerim</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="xudoj-box">
                    <a href="current_product.html">
                        <img src="content/23.jpg" alt="">
                        <span class="usd  azn pgb">1120</span>
                            <div class="info">
                                <h3><b>Əsərin adl:</b> Gune baxanlar</h3>
                                <h3><b>Rəssamın adı: </b> Vangog</h3>
                                <h3><b>Texnika  </b> Yağlı boya</h3>
                                <h3><b>Əsərin ölçüsü :</b> 1320x400</h3>
                               <div class="add-link">

                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                    <a class="close active" ><img src="img/can.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <div class="col-md-3">
                <div class="xudoj-box">
                    <a href="current_product.html">
                        <img src="content/23.jpg" alt="">
                        <span class="usd  azn pgb">1120</span>
                            <div class="info">
                                <h3><b>Əsərin adl:</b> Gune baxanlar</h3>
                                <h3><b>Rəssamın adı: </b> Vangog</h3>
                                <h3><b>Texnika  </b> Yağlı boya</h3>
                                <h3><b>Əsərin ölçüsü :</b> 1320x400</h3>
                               <div class="add-link">
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                     <a class="close"><img src="img/cancel123.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                <div class="xudoj-box">
                    <a href="current_product.html">
                        <img src="content/23.jpg" alt="">
                        <span class="usd  azn pgb">1120</span>
                            <div class="info">
                                <h3><b>Əsərin adl:</b> Gune baxanlar</h3>
                                <h3><b>Rəssamın adı: </b> Vangog</h3>
                                <h3><b>Texnika  </b> Yağlı boya</h3>
                                <h3><b>Əsərin ölçüsü :</b> 1320x400</h3>
                               <div class="add-link">
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                     <a class="close"><img src="img/cancal123.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                <div class="xudoj-box">
                    <a href="current_product.html">
                        <img src="content/23.jpg" alt="">
                        <span class="usd  azn pgb">1120</span>
                            <div class="info">
                                <h3><b>Əsərin adl:</b> Gune baxanlar</h3>
                                <h3><b>Rəssamın adı: </b> Vangog</h3>
                                <h3><b>Texnika  </b> Yağlı boya</h3>
                                <h3><b>Əsərin ölçüsü :</b> 1320x400</h3>
                               <div class="add-link">
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                     <a class="close"><img src="img/cancel123.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            
        </div>
        <div class="pagination-block">
            <ul class="pagination">
                <li><a href="" class="prev"><img src="img/carnext.svg" alt=""></a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="active">2</a></li>
                <li><a href="">...</a></li>
                <li><a href="">10</a></li>
                <li><a href="" class="next"><img src="img/carnext.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>