---
not-found: true
---

<div class="registrations forget_password">
    <div class="registration forget_passdowrd_left">
        <a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>

        <img src="img/forger_bg.png" class="regist_bg" alt="">
    </div>
    <div class="regis login forget_password_right ">
        <div class="mobil-header-login forget-mobil">
            <a href="index.html" class="mobil-logo"><img src="img/logo.svg" alt=""></a>

            
        </div>

        <a href="" class="back-btn"><img src="img/backicon.svg"  alt=""> GERİ</a>
        <h2>Şifrəni unutdum</h2>
        <form action="">
            <label for="" name="mail" class="label_name">Elektron poçta*</label>
            <input type="text" placeholder="Elektron poçtanız"  class="form_block">

            <input type="submit" class="basket-btn" value="GÖNDƏR">
        </form>
        <p>Şifrə almadınız? <a href="">Yenidən göndər</a></p>
    </div>
</div>