---
title: Home
main-page: false
description: This is home page
not-found: false
login: false


---


<div class="banner">
    <div class="owl-carousel banner-carousel owl-theme">
        <div class="item">
            <div class="banner-item">
                <div class="container">
                    <div class="banner-box">
                        <h2>Остров мёртвых</h2>
                        <p>наиболее известная картина швейцарского художника-символиста Арнольда Бёклина (1827—1901)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="banner-item">
                <div class="container">
                    <div class="banner-box">
                        <h2>Остров мёртвых</h2>
                        <p>наиболее известная картина швейцарского художника-символиста Арнольда Бёклина (1827—1901)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="banner-item">
                <div class="container">
                    <div class="banner-box">
                        <h2>Остров мёртвых</h2>
                        <p>наиболее известная картина швейцарского художника-символиста Арнольда Бёклина (1827—1901)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="banner-item">
                <div class="container">
                    <div class="banner-box">
                        <h2>Остров мёртвых</h2>
                        <p>наиболее известная картина швейцарского художника-символиста Арнольда Бёклина (1827—1901)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main-block">
    <div class="container">
        <h2>Последние работы</h2>
        <div class="row">
                <div class="col-md-4">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd">700</span>
                            <span class="azn">700</span>
                            <span class="euro">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html" class="active"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html" class=""><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd">700</span>
                            <span class="azn">700</span>
                            <span class="euro">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd">700</span>
                            <span class="azn">700</span>
                            <span class="euro">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
    </div>
</section>

<div class="reklam-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <a href="">
                        <img src="img/banner_1.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <a href="">
                        <img src="img/banner_2.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="darkness show_me">
    
</div>
