---
not-found: false
cabinet: false
---

<div class="cabinet">
    <div class="container">
       <div class="row">
                    <div class="col-md-4">
                        <div class="cabinet_control_block">
                            <ul class="control">
                                <li class=""><a href="regulation.html">ŞƏXSİ MƏLUMATLAR</a></li>
                                <li><a href="regulation_password.html">ŞİFRƏ</a></li>
                                <li class=""><a href="regulation-mail.html">ELEKTRON POÇTA</a></li>
                                <li class=" link_active"><a href="my-product.html">SİFARİŞLƏRİM</a></li>
                                <li class=""><a href="order-data.html">SİFARİŞ DETALLARI</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="control_information">
                            <form action="">
                                <div class="information_name">
                                    <div class="orders">
                                        <h2>SİFARİŞLƏRİM</h2>
                                        <ul class="order-list">
                                            <li><a href="">Bütün sifarişlər</a>
                                                <ul class="dropdown">
                                                    <li><a href="">Bütün sifarişlər</a></li>
                                                    <li><a href="">Son 1 ayda</a></li>
                                                    <li><a href="">Son 2 ayda</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="information_form">
                                    <div class="order-box">
                                        <div class="order-header">
                                            <div class="order-header-info">
                                                Sifarisin tarixi
                                                <b>22 yanva 2021</b>
                                            </div>
                                             <div class="order-header-info">
                                                Sifaris melumati
                                                <b>1 paket 2 product</b>
                                            </div>
                                             <div class="order-header-info">
                                                Alici
                                                <b>Khayyam Mammadli</b>
                                            </div>
                                            <div class="order-header-info">
                                                Qiymet
                                                <b>330 AZN</b>
                                            </div>
                                            <a href="" class="detaly-btn">Sifarisin detallari</a>
                                        </div>
                                        <div class="order-list">
                                            <div class="order-item">
                                                <div class="order-item-status">
                                                    <span class="title preparing">Sifarisiniz hazirlanir</span>
                                                    <p class="description">1 paket 2 mehsul</p>
                                                </div>
                                                <div class="order-item-images">
                                                    <img src="content/29.jpg" alt="">
                                                     <img src="content/29.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-box">
                                        <div class="order-header">
                                            <div class="order-header-info">
                                                Sifarisin tarixi
                                                <b>22 yanva 2021</b>
                                            </div>
                                             <div class="order-header-info">
                                                Sifaris melumati
                                                <b>1 paket 2 product</b>
                                            </div>
                                             <div class="order-header-info">
                                                Alici
                                                <b>Khayyam Mammadli</b>
                                            </div>
                                            <div class="order-header-info">
                                                Qiymet
                                                <b>330 AZN</b>
                                            </div>
                                            <a href="" class="detaly-btn">Sifarisin detallari</a>
                                        </div>
                                        <div class="order-list">
                                            <div class="order-item">
                                                <div class="order-item-status">
                                                    <span class="title preparing">Sifarisiniz hazirlanir</span>
                                                    <p class="description">1 paket 2 mehsul</p>
                                                </div>
                                                <div class="order-item-images">
                                                    <img src="content/29.jpg" alt="">
                                                     <img src="content/29.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-box">
                                        <div class="order-header">
                                            <div class="order-header-info">
                                                Sifarisin tarixi
                                                <b>22 yanva 2021</b>
                                            </div>
                                             <div class="order-header-info">
                                                Sifaris melumati
                                                <b>1 paket 2 product</b>
                                            </div>
                                             <div class="order-header-info">
                                                Alici
                                                <b>Khayyam Mammadli</b>
                                            </div>
                                            <div class="order-header-info">
                                                Qiymet
                                                <b>330 AZN</b>
                                            </div>
                                            <a href="" class="detaly-btn">Sifarisin detallari</a>
                                        </div>
                                        <div class="order-list">
                                            <div class="order-item">
                                                <div class="order-item-status">
                                                    <span class="title preparing">Sifarisiniz hazirlanir</span>
                                                    <p class="description">1 paket 2 mehsul</p>
                                                </div>
                                                <div class="order-item-images">
                                                    <img src="content/29.jpg" alt="">
                                                     <img src="content/29.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
</div>