---
not-found: false
cabinet: false
---

<div class="cabinet">
    <div class="container">
        <div class="alert-block">
            <div class="alert" id="alert">Sizin mesajınız uğurla göndərildi. <span class="close-icon" id="hide"><img src="img/close-icon.svg" alt=""></span></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cabinet_control_block">
                            <ul class="control">
                                <li class=""><a href="regulation.html">ŞƏXSİ MƏLUMATLAR</a></li>
                                <li><a href="regulation_password.html">ŞİFRƏ</a></li>
                                <li class=""><a href="regulation-mail.html">ELEKTRON POÇTA</a></li>
                                <li class=" "><a href="my-product.html">SİFARİŞLƏRİM</a></li>
                                <li class=" link_active"><a href="oder-data.html">SİFARİŞ DETALLARI</a></li>
                                <li class=" "><a href="regulation-events.html">TƏDBİRLƏR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="control_information">
                            <form action="">
                                <div class="information_name">
                                    <div class="orders">
                                        <h2>SİFARİŞLƏRİM</h2>
                                        <div class="header-section">
                                            <span class="header-section-title">Sifaris tarixi</span>
                                            <p>29 Dekabir</p>
                                        </div>
                                        <div class="header-section">
                                            <span class="header-section-title">Sifaris NO</span>
                                            <p>232323</p>
                                        </div>
                                        <div class="header-section">
                                            <span class="header-section-title">Sifaris haqqinda</span>
                                            <p>1 paket 3 mehsul</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="information_name">
                                    <div class="order-detail-summary">
                                        <div class="payment summary-box">
                                            <div class="header">
                                                <span class="header-text">Ödeme Novleri</span>
                                                <div class="header-payment-info">
                                                    <img src="img/bg-cc-visa.png" alt="">
                                                    <span>****2085</span>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="price-info">
                                                    <span class="price-text">Qiymet</span>
                                                    <span class="price-amount">500 AZN</span>
                                                </div>
                                                <hr class="price-info-hr">
                                                <div class="price-info">
                                                    <span class="price-text">Catdirilma haqqi</span>
                                                    <span class="price-amount">30 AZN</span>
                                                </div>
                                                <hr class="price-info-hr">
                                                <div class="price-info">
                                                    <span class="price-text">Toplam</span>
                                                    <span class="price-amount">30 AZN</span>
                                                </div>
                                                <hr class="price-info-hr">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="information_form">
                                    <div class="order-box">
                                        <div class="order-header">
                                            <h2 class="card-title"><img src="img/card1.svg" alt="">Plastik kartla ödəniş</h2>
                                        </div>
                                        <div class="order-list">
                                            <form action="" class="card-data">
                                                <div class="form-group">
                                                    <label for="">Kart üzərindəki ad</label>
                                                    <input type="text" placeholder="Kart üzərindəki ad">
                                                    <div class="required">Zəhmət olmasa soldurun</div>
                                                </div>
                                                <div class="form-block">
                                                    <div class="form-group">
                                                        <label for="">Kart üzərindəki nömrə</label>
                                                        <input type="text" placeholder="Kart üzərindəki nömrə">
                                                        <div class="required">Zəhmət olmasa soldurun</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Bitmə tarixi</label>
                                                        <input type="text" placeholder="Bitmə tarixi">
                                                        <div class="required">Zəhmət olmasa soldurun</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">CVC</label>
                                                        <input type="text" placeholder="CVC">
                                                        <div class="required">Zəhmət olmasa soldurun</div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="submit-block">
                                                <img src="img/card2.svg" alt="">
                                                <a href="">Davam et</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>