---
not-found: true
---

<div class="registrations forget_password">
    <div class="registration forget_passdowrd_left">
        <a href="" class="logo"><img src="img/logo.svg" alt=""></a>

        <img src="content/updateimg.png" class="regist_bg" alt="">
    </div>
    <div class="regis login forget_password_right">
        <h2>Şifrənin yenilənməsi</h2>
        <form action="">
            <label for="" name="tel" class="label_name">Şifrə</label>
            <input type="password" placeholder="Şifrəniz"  class="form_block password">
            <span toggle="#password-field" class=" field-icon login-icon toggle-password"><img src="img/iconpasword.svg" alt=""></span>

            <label for="" name="tel" class="label_name">Şifrənin təkrarı</label>
            <input type="password" placeholder="Şifrənizin təkrarı"  class="form_block password">
            <span toggle="#password-field" class=" field-icon login-icon toggle-password"><img src="img/iconpasword.svg" alt=""></span>
            <input type="submit" class="basket-btn" value="GÖNDƏR">
        </form>
        <p>Şifrə almadınız? <a href="">Yenidən göndər</a></p>
    </div>
</div>