---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---
<div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="index.html">Главная</a></li>
                <li><a href="" class="active">Фотографии</a></li>
            </ul>
        </div>
    </div>

    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-product">
                        <div class="check-boxs">
                            <h2>Направление</h2>
                            <div class="inner">
                                <div class="checkboxes_list">
                                        <ul class="unstyled centered">
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value5">
                                                <label for="styled-checkbox-5">Абстракционизм</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="value6" >
                                                <label for="styled-checkbox-6">Абстракционизм (геометрический)</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="value7" >
                                                <label for="styled-checkbox-7">Абстракционизм (органиеский)</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" value="value8" >
                                                <label for="styled-checkbox-8">Коллаж</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" value="value9" >
                                                <label for="styled-checkbox-9">Фотореализм</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-10" type="checkbox" value="value10" >
                                                <label for="styled-checkbox-10">Импрессионизм</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-11" type="checkbox" value="value11" >
                                                <label for="styled-checkbox-11">Экспрессионизм</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-12" type="checkbox" value="value12" >
                                                <label for="styled-checkbox-12">Неоэкспрессионизм</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-13" type="checkbox" value="value13" >
                                                <label for="styled-checkbox-13">Сюрреализм</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-14" type="checkbox" value="value14" >
                                                <label for="styled-checkbox-14">Авангард</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-15" type="checkbox" value="value15" >
                                                <label for="styled-checkbox-15">Натюрморт</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-16" type="checkbox" value="value16" >
                                                <label for="styled-checkbox-16">Живопись</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-17" type="checkbox" value="value17" >
                                                <label for="styled-checkbox-17">Графика</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-18" type="checkbox" value="value18" >
                                                <label for="styled-checkbox-18">Иллюстрации</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-19" type="checkbox" value="value19" >
                                                <label for="styled-checkbox-19">Мультипликация </label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-20" type="checkbox" value="value20" >
                                                <label for="styled-checkbox-20">Типография</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-21" type="checkbox" value="value21" >
                                                <label for="styled-checkbox-21">Скринпринтинг</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-22" type="checkbox" value="value22" >
                                                <label for="styled-checkbox-22">Хандкрафт</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-23" type="checkbox" value="value23" >
                                                <label for="styled-checkbox-23">НеонАрт</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-24" type="checkbox" value="value24" >
                                                <label for="styled-checkbox-24">Каллиграфия</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-25" type="checkbox" value="value25" >
                                                <label for="styled-checkbox-25">Граффити</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-26" type="checkbox" value="value26" >
                                                <label for="styled-checkbox-26">Урбан и Поп</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-27" type="checkbox" value="value27" >
                                                <label for="styled-checkbox-27">Народное Творчество </label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-28" type="checkbox" value="value28" >
                                                <label for="styled-checkbox-28">Фотография</label>
                                            </li>

                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-29" type="checkbox" value="value29" >
                                                <label for="styled-checkbox-29">Экспериментальное исскуство</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-30" type="checkbox" value="value30" >
                                                <label for="styled-checkbox-30">Без Жанра\Неопределённое</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-31" type="checkbox" value="value31" >
                                                <label for="styled-checkbox-31">Скульптура</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-32" type="checkbox" value="value32" >
                                                <label for="styled-checkbox-32">Неоклассицизм</label>
                                            </li>
                                            </ul>
                                </div>
                            </div>
                        </div>
                        <div class="check-boxs">
                            <h2>Сюжет</h2>
                            <div class="inner">
                                <div class="checkboxes_list">
                                    <ul class="unstyled centered">
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-33" type="checkbox" value="value33">
                                                <label for="styled-checkbox-33">Портрет</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-34" type="checkbox" value="value34" >
                                                <label for="styled-checkbox-34">Пейзаж</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-35" type="checkbox" value="value35" >
                                                <label for="styled-checkbox-35">Природа</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-36" type="checkbox" value="value36" >
                                                <label for="styled-checkbox-36">Пляж</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-37" type="checkbox" value="value37" >
                                                <label for="styled-checkbox-37">Животные</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-38" type="checkbox" value="value38" >
                                                <label for="styled-checkbox-38">Геометрия</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-39" type="checkbox" value="value39" >
                                                <label for="styled-checkbox-39">Архитектура</label>
                                            </li>
                                            <li>
                                                <input class="styled-checkbox" id="styled-checkbox-40" type="checkbox" value="value40" >
                                                <label for="styled-checkbox-40">Симметрия</label>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                        <div class="check-boxs">
                            <h2>Ценовая категория (AZN)</h2>
                            <div class="price_input">
                                <div class="input">
                                    <input type="text" value="80">
                                </div>
                                <div class="input">
                                    <input type="text" value="1200">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {{!-- <div class="row">
                        <div class="col-md-4">
                            <div class="xudoj-box">
                                <a href="current_product.html">
                                    <img src="content/23.jpg" alt="">
                                    <span class="usd ">700</span>
                                    <span class=" azn">700</span>
                                    <span class="gpb">700</span>
                                    <div class="info">
                                        <h3>Прерванная работа. 1891</h3>
                                        <p>Вильям Бугро</p>
                                        <div class="add-link">
                                            <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                            <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div> --}}

                    <div class="gray-bg">
                        <div class="container">
                            <div class="row">
                    
                                <div class="col-md-12 px-0">
                                    <div id="masonry">
                                        <div data-filter="one" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/100.jpeg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="eur">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="two" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="#" data-fancybox="images" class="fancybox" >
                                                    <img class="img-thumbnail img-responsive" src="content/24.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="eur">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html" class="active"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html" class="active"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="three" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/20.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="eur">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="one" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/24.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="eur">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="two" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="#" data-fancybox="images" class="fancybox" >
                                                    <img class="img-thumbnail img-responsive" src="content/24.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="eur">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="three" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/20.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="eur">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-block">
                        <ul class="pagination">
                            <li><a href="" class="prev"><img src="img/carnext.svg" alt=""></a></li>
                            <li><a href="">1</a></li>
                            <li><a href="" class="active">2</a></li>
                            <li><a href="">...</a></li>
                            <li><a href="">10</a></li>
                            <li><a href="" class="next"><img src="img/carnext.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

   


   

