---
not-found: true
---

<div class="registrations">
    <div class="registration">
        <a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>

        <img src="img/registir-img.png" class="regist_bg" alt="">
    </div>
    <div class="regis">
        <div class="mobil-header-login forget-mobil">
            <a href="index.html" class="mobil-logo"><img src="img/logo.svg" alt=""></a>

            
        </div>
        <h2>Bizə qoşul!</h2>
        <form action="">
            <div class="form-group">
                <label for="" name="full_name" class="label_name">Ad*</label>
                <input type="text" placeholder="Adınız" class="form_block">
                <div class="required">edsfsf</div>
            </div>

           <div class="form-group">
                <label for="" name="last_name" class="label_name">Soyad*</label>
                <input type="text" placeholder="Soyadınız"  class="form_block">
                <div class="required">edsfsf</div>
           </div>

           <div class="form-group">
                <label for="" name="mail" class="label_name">Elektron poçta*</label>
                <input type="text" placeholder="Elektron poçtanız"  class="form_block">
                <div class="required">edsfsf</div>
           </div>

            <div class="form-group">
                <label for="" name="mail" class="label_name">Ünvan*</label>
                <input type="text" placeholder="Ünvan"  class="form_block">
                <div class="required">edsfsf</div>
            </div>

            <div class="form-group">
                <label for="" name="tel" class="label_name">Telefon nömrəsi*</label>
                <input type="text" placeholder="(+994) __- ___ - __ - __ "  class="form_block">
                <div class="required">edsfsf</div>
            </div>
            
            <div class="form-group">
                 <label for="" name="tel" class="label_name">Şifrə*</label>
                 <input id="password-field" type="password" placeholder="Şifrəniz"  class="form_block form-control" name="password" value="secret">
                 <div class="required">edsfsf</div>
            </div>
           
             <div class="form-group">
                <button type="submit" class="basket-btn">QEYDİYYATI BİTİR</button>
            </div>
            <p>Hesabın var? <a href="login.html">Daxil ol</a></p>
        </form>
        {{!-- <a class="registr_btn" onclick="registirFinish()">QEYDİYYATDAN KEÇ</a> --}}
        
    </div>
</div>


{{!-- 
<div class="pop_up registration_popup books" id="registration-popup">
    <span class="close_icon" onclick="closepopup()"><img src="img/popupicon.svg" alt=""></span>
    <div class="registration_item">
        <h3>Fəaliyyət sahələri</h3>

        <p>Aşağıda qeyd olunan xanada öz məşğul olacağınız fəaliyyət sahəsin seçərək qeydiiyatı tamamlaya bilərsiniz.</p> 

        <p>Qeyd: Faəliyyət sahəsin sonradan dəyişmək mümkün olmayacaq</p>

        <form>
            <div class="form-group">
                <select name="sources" id="sources" class="custom-select sources" placeholder="Fəaliyyət sahəsin seçin">
                    <option value="profile">Nəşr dili</option>
                    <option value="word">Azərbaycan</option>
                    <option value="hashtag">Rus</option>
                    <option value="hashtag">Türk</option>
                    <option value="hashtag">İngilis</option>    
                </select>

            </div>
            <div class="form-group">
                <button type="submit" class="btn-submit">QEYDİYYATI BİTİR</button>
            </div>
        </form>
    </div>
</div> --}}