---
not-found: false
cabinet: false
---

<div class="cabinet">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cabinet_control_block">
                            <ul class="control">
                                <li class=""><a href="regulation.html">ŞƏXSİ MƏLUMATLAR</a></li>
                                <li><a href="regulation_password.html">ŞİFRƏ</a></li>
                                <li class=""><a href="regulation-mail.html">ELEKTRON POÇTA</a></li>
                                <li class=""><a href="my-product.html">SİFARİŞLƏRİM</a></li>
                                <li class=" "><a href="order-data.html">SİFARİŞ DETALLARI</a></li>
                                <li class=" link_active"><a href="regulation-events.html">TƏDBİRLƏR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="control_information cabinet-events">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="action-box">
                                        <a href="events-inner.html">
                                            <div class="action-img">
                                                <img src="content/20.jpg" alt="">
                                                <span class="close-events"><img src="img/can.svg" alt=""></span>
                                            </div>
                                            <div class="action-text">
                                                <h3>Название акции может быть длинным</h3>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat atque, enim eveniet dolorum architecto voluptatem et perferendis velit ipsa tempora libero, ut quasi ullam, accusamus. Voluptatibus reiciendis libero esse ratione.</p>
                                                <span>с 19 декабря по 8 января</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="pagination-block">
                                <ul class="pagination">
                                    <li><a href="" class="prev"><img src="img/carnext.svg" alt=""></a></li>
                                    <li><a href="">1</a></li>
                                    <li><a href="" class="active">2</a></li>
                                    <li><a href="">...</a></li>
                                    <li><a href="">10</a></li>
                                    <li><a href="" class="next"><img src="img/carnext.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>