---
not-found: false
cabinet: false
---

<div class="cabinet">
    <div class="container">
        <div class="alert-block">
            <div class="alert" id="alert">Sizin mesajınız uğurla göndərildi. <span class="close-icon" id="hide"><img src="img/close-icon.svg" alt=""></span></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cabinet_control_block">
                            <ul class="control">
                                <li class="link_active"><a href="regulation.html">ŞƏXSİ MƏLUMATLAR</a></li>
                                <li><a href="regulation_password.html">ŞİFRƏ</a></li>
                                <li class=""><a href="regulation-mail.html">ELEKTRON POÇTA</a></li>
                                <li class=""><a href="my-product.html">SİFARİŞLƏRİM</a></li>
                                <li class=" "><a href="order-data.html">SİFARİŞ DETALLARI</a></li>
                                <li class=" "><a href="regulation-events.html">TƏDBİRLƏR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="control_information">
                            <form action="">
                                <div class="information_name">
                                    <div class="name_img">
                                        <div class="img">
                                            <img src="content/imgname.png" alt="">
                                        </div>

                                        <div class="name">
                                            <h3>Ağasultan Ağayev</h3>
                                            <h4>DIZAYN, YARADICILIQ</h4>
                                            <p>Qeydiyyat tarixi: 12-09-2019</p>
                                        </div>
                                    </div>
                                    <div class="btn">
                                        <input type="file" name="myImage" class="custom-file-input"
                                            accept="image/x-png,image/gif,image/jpeg" />
                                    </div>
                                </div>
                                <div class="information_form">

                                    <div class="form-group">
                                        <label for="">Ad*</label>
                                        <input type="text" placeholder="Adınız">
                                        <div class="required">Zəhmət olmasa soldurun</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Soyad*</label>
                                        <input type="text" placeholder="Soyadınız">
                                        <div class="required">Zəhmət olmasa soldurun</div>
                                    </div>


                                    <div class="form-group">
                                        <label for="">Cinsi</label>
                                        <select>
                                            <option value="">Kişi</option>
                                            <option value="">Qadın</option>
                                        </select>
                                        <div class="required">Zəhmət olmasa soldurun</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Email*</label>
                                        <input type="text" placeholder="Email">
                                        <div class="required">Zəhmət olmasa soldurun</div>
                                    </div>

                                   <div class="form-group">
                                        <label for="">Ünvan*</label>
                                        <input type="text" placeholder="Ünvan">
                                        <div class="required">Zəhmət olmasa soldurun</div>
                                   </div>

                                    <div class="form-group">
                                        <label for="">Telefon nömrəsi*</label>
                                        <input type="text" placeholder="(+994) 55- 850 - 11 - 15">
                                        <div class="required">Zəhmət olmasa soldurun</div>
                                    </div>


                                    <button class="basket-btn">YADDA SAXLA</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>