---
not-found: false
cabinet: false
---


<div class="cabinet">
    <div class="container">
        <div class="alert-block">
            <div class="alert" id="alert">Sizin mesajınız uğurla göndərildi. <span class="close-icon" id="hide"><img src="img/close-icon.svg" alt=""></span></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cabinet_control_block">
                            <ul class="control">
                                <li ><a href="regulation.html">ŞƏXSİ MƏLUMATLAR</a></li>
                                <li class="link_active"><a href="regulation_password.html">ŞİFRƏ</a></li>
                                <li class="end_border"><a href="regulation-mail.html">ELEKTRON POÇTA</a></li>
                                <li class=""><a href="my-product.html">SİFARİŞLƏRİM</a></li>
                                <li class=" "><a href="order-data.html">SİFARİŞ DETALLARI</a></li>
                                <li class=" "><a href="regulation-events.html">TƏDBİRLƏR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="control_information">
                            <div class="information_form">
                                <form action="">
                                    <div class="form-group">
                                        <label for="">Əvvəlki şifrə*</label>
                                    <input type="password" placeholder="Şifrəniz">
                                    <div class="required">Zəhmət olmasa soldurun</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Yeni şifrə</label>
                                        <input type="password" placeholder="Yeni şifrəniz"> 
                                        <div class="required">Zəhmət olmasa soldurun</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Yeni şifrənin təkrarı</label>
                                        <input type="password"  placeholder="Yeni şifrənizin təkrarı">
                                        <div class="required">Zəhmət olmasa soldurun</div>
                                    </div>
                                    
                                    <button class="basket-btn">YADDA SAXLA</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>