---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---


    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="description-block">
                        <p><strong>"mehsulun adi" 200 netice tapildi</strong></p>
                    </div>
                    <div class="gray-bg">
                        <div class="container">
                            <div class="row">
                    
                                <div class="col-md-12 px-0">
                                    <div id="masonry">
                                        <div data-filter="one" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/100.jpeg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="gpb">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="two" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="#" data-fancybox="images" class="fancybox" >
                                                    <img class="img-thumbnail img-responsive" src="content/24.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="gpb">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="three" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/20.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="gpb">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="one" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/24.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="gpb">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="two" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="#" data-fancybox="images" class="fancybox" >
                                                    <img class="img-thumbnail img-responsive" src="content/24.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="gpb">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-filter="three" class="card-container wow zoomIn  col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                            <div class="card xudoj-box">
                                                <a href="https://www.youtube.com/watch?v=e7XVhQ4BWF8" data-fancybox="images" class="fancybox fancy-video" >
                                                    <img src="content/20.jpg" alt="">
                                                    <span class="usd ">700</span>
                                                    <span class=" azn">700</span>
                                                    <span class="gpb">700</span>
                                                </a>
                                                <div class="info">
                                                    <div class="text--">
                                                        <h3>Прерванная работа. 1891</h3>
                                                        <p>Вильям Бугро</p>
                                                    </div>
                                                    <div class="add-link">
                                                        <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                                        <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-block">
                        <ul class="pagination">
                            <li><a href="" class="prev"><img src="img/carnext.svg" alt=""></a></li>
                            <li><a href="">1</a></li>
                            <li><a href="" class="active">2</a></li>
                            <li><a href="">...</a></li>
                            <li><a href="">10</a></li>
                            <li><a href="" class="next"><img src="img/carnext.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

   


   

