---
title: Home
main-page: false
description: This is home page
not-found: false
login: false

---
<div class="breadcrump-block">
        <div class="container">
            <ul class="breadcrump">
                <li><a href="index.html">Главная</a></li>
                <li><a href="xudojniki.html">Художники</a></li>
                <li><a href="" class="active"> Пьер Огюст Ренуар</a></li>
            </ul>
        </div>
    </div>

    <div class="xudojniki-inner">
        <div class="container">
            <div class="title-block">
                <div class="image">
                    <img src="content/20.jpg" alt="">
                </div>
                <div class="text">
                    <h1>Пьер Огюст Ренуар</h1>
                    <p>Краткая информация об авторе продукта. Краткая информация об авторе продукта. Краткая информация об авторе продукта. Краткая информация об авторе продукта. Краткая информация об авторе продукта. Краткая информация об авторе продукта. Краткая информация об авторе продукта.</p>
                     <ul class="social-icon">
                        <li><a href=""><img src="img/twitter_white_icon.svg" alt=""></a></li>
                        <li><a href=""><img src="img/facebook_white_icon.svg" alt=""></a></li>
                        <li><a href=""><img src="img/instagram_white_icon.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                               <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="xudoj-box">
                        <a href="current_product.html">
                            <img src="content/23.jpg" alt="">
                            <span class="usd  azn pgb">700</span>
                            <div class="info">
                                <h3>Прерванная работа. 1891</h3>
                                <p>Вильям Бугро</p>
                                <div class="add-link">
                                    <a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a>
                                    <a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   


   

