footer{
    padding:20px 0;
    background-color: rgba(0, 0, 0, 0.9);
    .footer-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:767px){
            display: block;
        }
        p{
            @include fontFamily("arial", 16px, #fff, 24px);
            @media(max-width:767px){
                text-align: center;
                margin-bottom:15px;
            }
        }

        .center-foot-list{
            display: flex;
            @media(max-width:767px){
                display: flex;
                justify-content: center;
                margin-bottom:15px;
            }
            li{
                margin-left:10px;
                margin-right: 10px;;
                a{
                    @include fontFamily("arial", 16px, #fff, 24px);
                }
            }
        }
        .foot-social-list{
            display: flex;
            li{
                margin-left:24px;
            }
            @media(max-width:767px){
                display: flex;
                justify-content: center;
            }
        }
    }
}