header{
    padding:20px 0;
    background-color: #222;
    .head-menu{
        display: flex;
        justify-content: space-between;
        .nav-left{
            display: flex;
            align-items: center;
            a{
                margin-right:40px;
                h1{
                    color:#fff;
                    font-size: 40px;
                    line-height: 56px;
                    font-weight: normal;
                    @media(max-width:767px){
                        font-size: 26px;
                        line-height: 26px;
                    }
                }
            }
            form{
                margin-left: 40px;;
                input{
                    display: block;
                    width: 640px;
                    height: 48px;
                    padding: 0 72px 0 48px;
                    border: 1px solid rgba(223, 223, 223, 0.2);
                    color: #fff;
                    background-color: rgba(255, 255, 255, 0.1);
                    background-repeat: no-repeat;
                    background-position: 12px 50%;
                    background-image: url(../img/search_gray_icon.svg);
                    border-radius: 6px;
                    outline: none;
                }

                @media(max-width:767px){
                    display: none;
                }
            }
        }
        .sing-in{
            display: flex;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #fff;
            align-items: center;
            img{
                margin-left: 8px;

            }
            @media(max-width:767px){
                margin-right: 10px;;
            }
        }
        
    }
}
.menu{
    padding:20px 0;
    background-color: #101010;
    .bottom-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu-left{
            .list-menu{
                display: flex;
                li{
                    a{
                        display: inline-block;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 24px;
                        text-align: center;
                        color: #fff;
                        display: block;
                        padding-top:10px;
                        padding-bottom:10px;
                        padding-right: 20px;
                        padding-left: 20px;
                        
                    }
                    border-right: 1px solid #fff;
                    &:last-child{
                        border: none;
                    }
                }
                
            }
        }
        .currency{
            @media(max-width:767px){
                display: flex;
                align-items: center;
            }
            .sign-in{
                @media(max-width:767px){
                    margin-right: 20px;;
                }
                @media(min-width:768px){
                    display: none !important;
                }
            }
            .cabinet-inner{
                @media(min-width:768px){
                    display: none;
                }
                li{
                    a:active{
                        img{
                            filter: brightness(0%);
                        }
                    }
                }
            }
        }
    }
    
}

.log-out{
    &:hover .exit{
        display: block;
    }
}

.exit{
    position: absolute;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;;
    display: none;
    li{
        margin:0 !important;
        a{
            color:#000 !important; 
        }
    }
}

.pop-up-login{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    .log-in{
        width: 640px;
        padding: 24px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        @media(max-width:767px){
            width: 100%;
        }
        .social_sign{
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 48px;
                padding: 0 20px;
                border: 1px solid rgba(0, 0, 0, 0.4);
                font-size: 16px;
                line-height: 48px;
                color: #000;
                text-align: center;
                text-decoration: none;
                border-radius: 6px;
                img{
                    margin-right: 10px;;
                }
            }
        }
        p{
            padding: 16px 0;
            font-size: 16px;
            line-height: 1.2;
            color: #000;
            text-align: center;
        }
        form{
            .form-group{
                input{
                    display: block;
                    width: 100%;
                    height: 64px;
                    padding: 0 24px;
                    border: 2px solid rgba(0, 0, 0, 0.4);
                    border-radius: 6px;
                    font-family: 'Roboto';
                    font-size: 16px;
                    color: #000;
                    margin-bottom:20px;
                }
            }
            .btn{
                display: block;
                width: 100%;
                height: 64px;
                padding: 0 24px;
                border: none;
                border-radius: 6px;
                font-family: 'arial';
                font-size: 16px;
                color: #fff;
                background: #4B4B4B;
            }
        }
        .for-btn{
            display: block;
            text-align: center;
            color: #4B4B4B;
            text-decoration: underline;
            font-size: 16px;
            line-height: 24px;
            margin-top:32px;
            &:hover{
                text-decoration: none;
            }

        }
        .link-box{
            display: flex;
            justify-content: center;
            a{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    #close-btn{
        position: absolute;
        z-index:1;
        top:19%;
        left:70%;
        cursor: pointer;
        img{
            filter: brightness(0) invert(1);
        }
        @media(max-width:767px){
            top:30px;
            left:80%;
        }
    }
}

.mobil-menu{
    width: 100%;
    height: 100vh;
    background:#222;
    position: fixed;
    top: 0;
    z-index: 999 ;
    display: none;
    .head{
        height: 80px;
        padding:24px;
        .box{
            display: flex;
            justify-content: space-between;
        }
        .search-block{
            margin-top:20px;
            form{
                input{
                    width: 100%;
                    background-color: #222;
                    border: none;
                    height: 30px;
                    border-bottom:1px solid #4b4b4b;
                    outline: none;
                    color:#4b4b4b;
                }
            }
        }
        .close-btn{
            img{
                filter: brightness(0) invert(1);

            }

        }
        .brand-logo{
            img{
                    width: 150px;
                
            }
        }
    }
    .inner-menu{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);

        ul{
            li{
                margin-bottom:30px;
                a{
                    display: inline-block;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 24px;
                        text-align: center;
                        color: #fff;
                        display: block;
                }
            }
        }

    }
}

.burger-menu{
    @media(min-width:768px){
        display: none;
    }
    @media(max-width:767px){
        margin-left:20px;
    }
}


.user-block{
    li{
        margin: 0;
        a{
            display: flex;
           span{
            color: #fff;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;   
            @media(max-width:767px){
                display: none;
            }
           }
        }
    }
}


.nav-right{
    align-items: center;

}