*{
    margin: 0;
    padding: 0;
    
}
*,
*:after,
*:before {
    box-sizing: inherit;
}

html{
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-title{
    @include fontFamily('arial', 16px, #000,24px);
    font-weight:normal;
    display: flex;
    align-items: center;
    img{
        margin-right: 10px;;
    }
}

.submit-block{
    display: flex;
    justify-content: space-between;
    a{
        display: flex;
        align-items: center;
        padding: 8px 24px;
        background-color: #4d4d4d;
        height: 40px;
        border-radius: 4px;
        position: absolute;
        right: 60px;
        bottom:60px;
        color:#fff;
        font-size: 20px;
        line-height: 30px;
    }
}

body{
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    line-height: 1.6;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

.block-title{
    @include fontFamily('grandis-medium', 32px, $goodcolor, 40px);
    font-weight: 500;
    @media(max-width:575px){
        @include fontFamily('grandis-medium', 24px, $goodcolor, 32px);
        text-align: left !important;
    }
}
.block_text{
    @include fontFamily('grandis-regular', 16px, $wht, 24px);
    font-weight: noraml;
      
}


.padding-top-bottom{
    padding-top:55px;
    padding-bottom:120px;
    @media(max-width:575px){
        padding-top: 24px;
        padding-bottom: 60px;;
    }
}

.text_title{
    @include fontFamily('grandis-medium', 20px, $goodcolor, 28px);
    margin-bottom: 15px;
    font-weight: 500;
}

.text{
    @include fontFamily('grandis-regular', 16px, $goodcolor, 24px);
    margin-bottom: 30px;
    font-weight: normal;

}

.blk_title{
    width: 100%;
    //padding-bottom: 30px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:575px){
        padding-bottom:0px;
       
    }
    span{
        @include fontFamily('grandis-medium', 32px, $goodcolor, 40px);
        @media(max-width:575px){
            @include fontFamily('grandis-medium', 24px, $goodcolor, 32px);
           
        }
    }

    a{
        display: flex;
        span{
            @include fontFamily('grandis-regular', 14px, $goodcolor, 20px);
            @media(max-width:575px){
                display: none;
            }
        }
        img{
            margin-left: 6px;
        }
        
    }
    // .mobil_arrow{
    //     @media(min-width:459px){
    //         display: block;
    //         background-color: red;
    //     }
    // }
}

.other_title{
    @include fontFamily('grandis-medium', 32px, $goodcolor, 40px);
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
    @media(max-width:575px){
        @include fontFamily('grandis-medium', 24px, $goodcolor, 32px);
        text-align: left;
        margin-bottom: 24px;
    }
}

.block_title{
    @include fontFamily('grandis-bold', 40px, $wht, 48px);
    max-width: 828px;
    margin-bottom: 16px;
}

.name_title{
    @include fontFamily('grandis-regular', 16px, $goodcolor, 24px);
    font-weight: 500;
}

.name_text{
    @include fontFamily('grandis-regular', 14px, $goodcolor, 20px);
    font-weight: normal;
    margin-top:8px;
}

.label_name{
        @include fontFamily('grandis-regular', 14px, $goodcolor, 20px);
        font-weight: normal;
        margin-bottom:10px;
        display: block;
        margin-top: 24px;
}

.b-radius{
    border-radius: 8px;
}

.ds-block{
    @media(max-width:575px){
        display: block !important;
    }
}

//card style
.card3{
    padding: 9px 16px 7px 16px;
    background-color: #42B690;
    border-radius: 4px;
    @include fontFamily('grandis-medium', 12px, #FFFFFF, 16px);
    margin-top: 8px;
    display: block;
    width: 174px;
}

.card1{
    padding: 9px 16px 7px 16px;
    background-color: #42B690;
    border-radius: 4px;
    @include fontFamily('grandis-medium', 12px, #FFFFFF, 16px);
    margin-top: 8px;
    display: block;
    width: 166px;
    @media(min-width:768px){
        display: none;
    }
}

.card2{
    padding: 9px 16px 7px 16px;
    background-color: #4565AA;
    border-radius: 4px;
    @include fontFamily('grandis-medium', 12px, #FFFFFF, 16px);
    margin-top: 8px;
    display: block;
    width: 276px;
    @media(min-width:768px){
        display: none;
    }
}


//slider counter

.slider-counter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    height: 104px;
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    // align-items: center;
    @media(max-width:767px){
        bottom:30px;
        right: 66%;
        width: 104px;
        height: 0px;
        flex-direction: inherit;
    }
    .number{
        @include fontFamily('grandis-menium', 16px, #fff, 24px);
    }



    .counter-bar{
        width: 2px;
        height: 40px;
        background-color:  #8E8E8E;
        position: absolute;
        right: 0;
        @media(max-width:767px){
            height: 2px;
            width: 40px;
        }
        &:after{
            content: "";
            width: 2px;
            height: 0;
            background-color: #fff;
            top: 0;
            position: absolute;
            animation-name: counter;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            @media(max-width:767px){
                height: 2px;
                width: 0;
            }
        }
        @keyframes counter {
            to { height: 40px;}
          }

          

          @media(max-width:767px){
            @keyframes counter {
                to { width: 40px;}
              }
          }
    }
}


//page title css
.page-title{
    padding:55px 0;
    background-image: url("../img/titlebg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    h1{
        @include fontFamily('grandis-medium', 40px, $wht, 48px);
        font-weight: 500;
    }
    @media(max-width:575px){
        padding:40px 0;
        h1{
            @include fontFamily('grandis-medium', 24px, $wht, 32px);
        }
    }
}

.contact-alert{
    display: none !important;
    width: 544px;
    height: 64px;
    padding:20px;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 16%;
    span{
        @include fontFamily('grandis-regular', 16px, $goodcolor, 24px);
        margin-left: 20px;
    }
}

.text_style{
    @include fontFamily('grandis-regular', 16px, $articlecolor, 24px);
    margin-top: 30px;
    font-weight: normal;
    @media(max-width:575px){
        margin-top:15px;
    }
}

.ptoject{
    margin-bottom: 30px;
}

.hover_box{
    &:hover{
        box-shadow: 0px 16px 32px rgba(142, 142, 142, 0.16);
    
    }
}

.link_active{
    position: relative;
    &:after{
        content:'';
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        position: absolute;
        
        
    }
    a{
        color:#222 !important;
        font-family: 'grandis-medium' !important;
    }

    @media(max-width:575px){
        &:after{
            display: none;
        }
    }
}

.regis-title{
    @include fontFamily('grandis-medium', 20px, $goodcolor, 28px);
    margin-bottom: 32px;
}

//cabinet css

.cabinet{
    padding-top:110px;
    padding-bottom: 120px;
    @media(max-width:575px){
        padding-top: 24px;
        padding-bottom: 56px;
    }

    .cabinet_control_block{
        width: 100%;
        @media(max-width:767px){
            margin-bottom: 32px;
        }

        .control{
            background: #FFFFFF;
            border: 1px solid #EAEAEA;
            border-radius: 4px;
            

            .end_border{
                border-bottom:none;
            }

            li{
                border-bottom:1px solid #EAEAEA;

                a{
                    display: block;
                    width: 100%;
                    padding: 16px;
                    @include fontFamily("grandis-regular", 14px, #8E8E8E, 20px);
                }
                
            }
        }
    }
    .control_information{
        width: 100%;
        form{
            .custom-file-input {
                color: transparent;
                width: 120px;
                outline: none;
                height: 43px;
              }

            .custom-file-input::-webkit-file-upload-button {
                visibility: hidden;
              }

              .custom-file-input::before {
                content: 'Şəkli dəyiş';
                @include fontFamily("grandis-regular", 14px, $goodcolor, 20px);
                display: inline-block;
                background: linear-gradient(top, #f9f9f9, #e3e3e3);
                border: 1px solid #EAEAEA;
                border-radius: 4px;
                padding: 11px 24px 9px 24px;
                outline: none;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                text-shadow: 1px 1px #fff;
                font-weight: 700;
                font-size: 10pt;
              }
              .custom-file-input:hover::before {
                border-color: black;
                transition: ease-in-out .3s;
              }
            label{
                @include fontFamily('grandis-regular', 14px, $goodcolor, 20px);
                display: block;
                margin-bottom: 4px;
            }
            
                [type="date"] {
                background:#fff url("../img/calendar.svg")  97% 50% no-repeat ;
              }
              [type="date"]::-webkit-inner-spin-button {
                display: none;
              }
              [type="date"]::-webkit-calendar-picker-indicator {
                opacity: 0;
              }
              
              input:not([type="file"]):not([type="checkbox"]) {
                width:100%;
                padding:16px 20px 14px 20px;
                border: 1px solid #EAEAEA;
                border-radius: 8px; 
                margin-bottom: 20px;
                outline: none;
                @include fontFamily('grandis-regular', 16px, $goodcolor, 24px);
                @media(max-width:574px){
                    padding:14px 16px 14px 16px;
                    font-size: 14px;
                    line-height: 20px;
                }
              }

            select{
                width: 100%;
                height: 56px;
                padding:18px 20px 14px 20px;
                border: 1px solid #EAEAEA;
                background-color: $wht;
                border-radius: 8px; 
                margin-bottom: 20px;
                outline: none;
                background-image: url("../img/icon.svg");
                background-repeat: no-repeat;
                background-position: 96%;
                -webkit-appearance: none;
                appearance: none;
                -moz-appearance: none;
                option{
                    @include fontFamily('grandis-regular', 16px, red, 24px);
                }
            }

            .btn_one{
                @media(max-width:459px){
                    width: 100%;
                }
            }
        }
        .information_name{
            padding:22px;
            width: 100%;
            background: #FFFFFF;
            border: 1px solid #EAEAEA;
            border-radius: 4px;
            margin-bottom: 15px;
            display: flex;
            @media(max-width:574px){
                padding:0px;
                background-color: transparent;
                border:none;
                margin-bottom: 32px;

            }
            .name_img{
                width: 350px;
                display: flex;
                img{
                    border-radius: 50%;
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                    margin-right: 15px;
                }

                .name{
                    h3{
                        @include fontFamily('grandis-medium', 20px, $goodcolor, 28px);
                        @media(max-width:574px){
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    h4{
                        @include fontFamily('grandis-regular', 14px, #4565AA, 20px);
                        margin-bottom: 4px;
                        @media(max-width:574px){
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                    p{
                        @include fontFamily('grandis-regular', 12px, #8E8E8E, 20px);
                    }
                }
            }
            .btn{
                width: 207px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @media(max-width:574px){
                    display: none;
                }
            }
        }

        .information_form{
            width: 100%;
            background-color: $wht;
            border: 1px solid #EAEAEA;
            border-radius: 4px;
            padding:24px;
            @media(max-width:574px){
                background-color: transparent;
                padding:0px;
                border:none;
            }
           
        }
    }
}



.action-block{
    padding:40px 0;
    h3{
        font-size:32px;
        line-height: 48px;
        color:#000;
        margin-bottom:32px;
    }

    .product-box{
        margin-bottom: 30px;;
        a{
            display: block;
            width:100%;
            height: 100%;
            border: 1px solid #EAEAEA;
            box-sizing: border-box;
            border-radius: 8px;
            .product-img{
                padding: 16px 0;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid #EAEAEA;
                img{
                    width:200px;

                }
            }
            .product-text{
                padding:24px;
                h4{
                    font-size: 24px;
                    line-height: 32px;
                    color:#000;
                    margin-bottom:8px;
                    font-family: "arial";
                }
                p{
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom:8px;
                    color:#000;
                    font-family: "arial";
                }
                h6{
                    font-size: 20px;
                    line-height: 30px;
                    margin-top:20px;
                    margin-bottom:10px;
                    color:#EAEAEA;
                    font-family: "arial";
                    position: relative;
                    width: 100%;
                    &:after{
                        content:"";
                        width: 75px;
                        height: 1px  ;
                        background: #831a1a;
                        position: absolute;
                        top:50%;
                        left:0;
                    }
                }
                h5{
                    font-size: 24px;
                    line-height: 32px;
                    color:#000;
                    font-family: "arial";
                }
            }
        }
    }
}
.form-group{
    margin-bottom:32px;
}

.required{
    padding: 8px 10px;
    background-color:#831a1a;
    border:none;
    color:#fff;
    font-size: 12px;
    line-height: 20px;
    border-radius: 4px;;
    font-family: "arial";
    max-width: 153px;
    margin-top:8px;
    //display: none;
}

.cabinet-events{
    padding:22px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
}













.events-inner{
    padding:40px 0;
    h2{
        font-size: 48px;
        line-height: 58px;
        font-family: "arial";
        color:#000;
        margin-bottom:40px;
    }
    img{
        width: 100%;
        height: 700px;
        object-fit: cover;
        margin-bottom:30px;
    }
    p{
        font-size: 24px;
        line-height: 32px;;
        color:#000;
        font-family: "arial";
        margin-bottom:20px;
    }
}

.bottom-bot{
    a{
        padding: 10px;
        background-color: #2a2a2a;
        border-radius: 4px;;
    }
}

.carousel-block{
    position: relative;
    margin-bottom:32px;
    .events-carousel{
        .item{
            height: 500px;
            margin-bottom:24px;
            img{
                object-fit: cover;
            }
        }
        .owl-nav{
           display: none;
        }
        .owl-dots{
            width: 100%;
            margin-top: 24px;;
            display: flex;
            justify-content:center;
            button{
                width: 12px;
                height: 12px;
                border:1px solid #000;
                border-radius: 100%;
                margin-left:5px;
                margin-right: 5px;
                outline: none;
            }
            .active{
                background-color: #000;
            }
        }
    }
}

.event-right{
    padding-top:98px;
    .data-save-block{
        padding: 24px;
        border: 1px solid #2a2a2a2a;
        border-radius: 8px;
        position: relative;
        h4{
            font-size: 16px;
            line-height: 20px;
            margin-bottom:32px;
            font-family: "arial";

        }
        h5{
            font-size: 14px;
            line-height: 20px;
            margin-bottom:8px;
            font-family: "arial";
            color:#4565AA;
            font-weight: bold;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            margin-bottom:8px;
            font-weight: normal;
            font-family: "arial";
            color:#000;
        }
        .save{
            padding:14px;
            width: 100%;
            color:#000;
            font-size:16px;
            line-height: 24px;
            font-family: "arial";
            border-radius: 8px;
            border: 1px solid #000;
            background-color: transparent;
            margin-top:60px;
        }
    }
}



.pagination-block{
    width: 100%;
    display: flex;
    justify-content: center;
    .pagination{
        display: flex;
        li{
            margin-left:10px;
            margin-right: 10px;
            a{
                color:#000;
                font-size: 24px;
                line-height: 32px;
                padding:8px 10px;
                border-radius: 100%;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    // filter: brightness(0) invert(1);
                }
            }
            .active{
                text-decoration: underline;
            }
            .prev{
                margin-left: 10px;
                img{
                    transform: rotate(180deg);
                }
            }
        }
    }
}


.alert-block{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
    .alert{
        width: 500px;
        padding: 20px 24px;
        height: 64px;
        background-color: #52AE5D;
        border-radius: 10px;
        color:#fff;
        font-size: 16px;
        line-height: 24px;
        font-family: "arial";
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: none;
        .close-icon{
            cursor: pointer;
        }
    }
}



.terms-of-use{
    padding-bottom:50px;
    h3{
        font-family: "arial";
        font-size: 30px;
        color: #292929;
        line-height: 38px;
        margin-bottom: 24px;
        font-weight: normal;
        letter-spacing: 0.02em;
    }
    p{
        font-family: "arial";
        font-size: 20px;
        color: #292929;
        line-height: 30px;
        margin-bottom: 48px;
    }
    h4{
        font-family: "arial";
        font-size: 20px;
        color: #292929;
        line-height: 30px;
        margin-bottom: 16px;
    }
}


.price1{
    top:10px !important;
    &:after{
        content:"";
        left:0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: red;
        position: absolute;
    }
}



.editions-block{
    padding-bottom: 70px;
    .book-title{
        font-size: 36px;
        line-height: 42px;
        font-family: "arial";  
        color:#000;
        font-weight: bold;
        margin-bottom: 32px;
    }
    .book-box{
        width: 100%;
        position: relative;
        height: 450px;
        margin-bottom: 30px;
        a{
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid #2a2a2a;
            border-radius: 8px;
            .book-top{
                width: 100%;
                padding: 10px 24px;
                display: flex;
                justify-content: center;
                img{
                    height: 290px;
                }
            }           
        }
        .book-bottom{
            padding: 24px;
            position: absolute;
            bottom:0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #2a2a2a;
            border-radius: 8px;
            .texts{
                h3{
                    font-size: 22px;
                    line-height: 28px;
                    font-family: "arial";  
                    color:#fff;
                }
                p{
                    font-size: 18px;
                    line-height: 24px;
                    font-family: "arial";  
                    color:#fff;
                    font-weight: normal;
                }
            }
            .add-link{
                display: flex;
                a{
                    border: none;
                    margin-left: 10px;
                }
            }

            
        }
    }
}


.counter-box{
    display: flex;
    align-items: center;
}


.glo-count{
    display: flex;
    border: 1px solid #d1d1d1;
    height: 32px;
    width: 96px;
    margin-right: 20px;;
    .decrease-count{
        width: 32px;
        height: 32px;
        border: none;
        border-right: 1px solid #d1d1d1;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 2px;
            background-color: rgba(#3A3A3A, 0.5);
            border-radius: 2px;
        }
    }
    .increase-count{
        width: 32px;
        height: 32px;
        border: none;
        border-left: 1px solid #d1d1d1;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 2px;
            background-color: rgba(#3A3A3A, 0.5);
            border-radius: 2px;
        }
    }
    .increase-count{
        &:before{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 12px;
            width: 2px;
            background-color: rgba(#3A3A3A, 0.5);
            border-radius: 2px;

        }
    }
    .count{
        @include fontFamily('inter-regular', 16px, #000, 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 12px;
        min-width: 14px;
        text-align: center;
    }
    
}


.close-events{
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    top: 15px;
    right: 24px;
    padding: 7px;
    background: #000;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    img{
        filter: brightness(0) invert(1);
    }
}


#masonry{
    .card-container{
    //   margin-bottom: 20px!important;
    }
    .img-thumbnail{
      padding: 0!important;
      border: none!important;
      border-radius: 0!important;
      background-color: transparent!important;
      
    }
    .fancy-video{
      position: relative;
      height: auto !important;
      &:after{
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(14,26,73,0.7);
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        transition: all 0.3s;
        top: 0;
      }
  
      >img{ width: 100%; height: 100%; object-fit: cover;}
      
    }
  
    .card{
        a{
            img{
                width: 100%;
            }
        }
    }
  }

  .text--{
      display: flex;
      flex-direction: column;
  }
  
  
  
  
  // awards image
  .card-awards{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 2px;
    >img{
      max-width: 100%;
      height: 100%;
      margin: auto;
    }
  }



  .error {
    width: 100%;
    
    .error-item {
      width: 100%;
      height: 100vh;
      background: #000;
      @media(max-width:575px){
          padding: 90px 55px;
      }
  
      .error-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        h1 {
          @include fontFamily("cardillac-light", 260px, #676767, 200px);
          text-align: center;
          @media(max-width:575px){
            @include fontFamily("cardillac-light", 90px, #000, 200px);
          }
        }
        h4 {
          @include fontFamily("cardillac_medium", 34px, #fff, 35px);
          text-align: center;
          margin-top: -40px;
          @media(max-width:575px){
            @include fontFamily("cardillac_medium", 12px, #fff, 35px);
          }
        }
  
        p {
          @include fontFamily("sarabun_light", 16px, #fff, 22px);
          margin-top: 25px;
          margin-bottom: 30px;
          @media(max-width:575px){
            @include fontFamily("sarabun_light", 8px,#fff, 12px);
          }
          a {
            color: orange;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }



  .search-block{
    width: 100%;
    height: calc(100vh - 342px);
    padding: 50px 0;
    background-color: #8E8E8E;
    h2{
        font-size: 46px;
        line-height: 54px;
        font-family: "arial";
        margin-bottom: 104px;
        text-transform: uppercase;
        color:#292929;
    }

    p{
        font-size:20px;
        line-height: 23px;
        font-family: "arial";
    }
}


.description-block{
    margin-bottom:32px;
    margin-top:32px;
    p{
        font-size: 24px;
        line-height: 32px;
        font-family: "arial";
        color:#000;

    }
}