// .btn{}

.basket-btn{
    padding:10px 48px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 12px;
    @include fontFamily("arial", 24px, #fff, 32px);
    cursor: pointer;
    transition: ease-in-out .4s;
    &:hover{
        background-color: #333;
        color:#fff;
    }
}