
@font-face {
    font-family: 'grandis-black';
    src:url('../fonts/Grandis Black.otf') format('truetype');
}


@font-face {
    font-family: 'grandis-bold';
    src:url('../fonts/Grandis Bold.otf') format('truetype');
}


@font-face {
    font-family: 'grandis-light';
    src:url('../fonts/Grandis Light.otf') format('truetype');
}

@font-face {
    font-family: 'grandis-medium';
    src:url('../fonts/Grandis Medium.otf') format('truetype');
}

@font-face {
    font-family: 'grandis-regular';
    src:url('../fonts/Grandis Regular.otf') format('truetype');
}

@font-face {
    font-family: 'grandis-thin';
    src:url('../fonts/Grandis Thin.otf') format('truetype');
}