.payment_form{
    padding: 0 0 32px;
    .input{
        padding: 0 0 25px;
    }
    h3{
        padding: 0 0 16px;
        font-size: 13px;
        line-height: 130.7%;
        color: #000;
    }
    .three_input{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
        @media(max-width:767px){
            display: block;
        }
        .input{
            width: calc(33.333% - 12px);
            @media(max-width:767px){
                width: 100%;
            }
            input{
                display: block;
                width: 100%;
                height: 54px;
                padding: 0 14px;
                border: 1px solid rgba(0, 0, 0, 0.4);
                font-weight: bold;
                font-size: 13px;
                font-family: 'arial';
                border-radius: 6px;
            }
        }
    }
    .two_input{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
        @media(max-width:767px){
            display: block;
        }
        .input{
            width: calc(50% - 9px);
            @media(max-width:767px){
                width: 100%;
            }
            input{
                display: block;
                width: 100%;
                height: 54px;
                padding: 0 14px;
                border: 1px solid rgba(0, 0, 0, 0.4);
                font-weight: bold;
                font-size: 13px;
                font-family: 'Roboto';
                border-radius: 6px;
            }
        }
    }
    .textarea{
        textarea{
            display: block;
            width: 100%;
            height: 96px;
            padding: 12px 14px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            font-weight: bold;
            font-size: 13px;
            font-family: 'Roboto';
            border-radius: 6px;
            resize: none;
        }
    }
}




.checkbox-wrapper {
    width: 20px;
    position: relative;
    display: flex;
    margin-bottom:10px;
    label {
      width: 18px;
      height: 18px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      border-radius: 4px;
      border: 1px solid #d7d7d7;
      &:after {
        content: '';
        width: 12px;
        height: 6px;
        position: absolute;
        top: 4px;
        left: 2px;
        border: 3px solid #333;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.5;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }    
    span{
        display: block;
        font-size: 14px;
        line-height: 20px;
        color:#000;
        margin-left:20px;
    }
  }
  
  //checkbox swipe
  .checkbox-slide {
    width: 50px;
    height: 25px;
    background: #ddd;
    position: relative;
    border-radius: 50px;
    transition: background-color .25s linear;
    &:hover{
      background-color: #b2282b;
    }
    label {
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      background: #dfe5d7;
      background: linear-gradient(to bottom, #fff 0%, #ddd 40%, #bbb 100%);
      border-radius: 50px;
      box-shadow: 0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15) inset;
      transition: all 0.4s ease;
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label {
        left: 25px;
      }  
    }
  }