.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      color:#000;
      font-size: 14px;
      line-height: 24px;;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 16px;
      height: 16px;
      border: 1px solid #4d4d4d;
    }
  
  
    
    // Box focus
   
  
    
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: red;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 7px;
      background: #000;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 #000,
        4px 0 0 #000,
        4px -2px 0 #000,
        4px -4px 0 #000,
        4px -6px 0 #000,
        4px -8px 0 #000;
      transform: rotate(45deg);
    }
  }
  
  // Demo-only styles
  // --------------
  
  
  
  li {
    margin: 20px 0;
  }
  
  .centered {
    width: 100% !important;
    margin: auto;
  }
  
  .title {
    text-align: center;
    color: rgb(69, 113, 236);
  }