
.personal-cabinet-menu{
    padding: 18px 0;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    @media(max-width:767px){
        display: none;
    }
    .cabinet-menu{
        display: flex;
        li{
            margin-right: 48px;
            a{
                display: block;
                @include fontFamily("grandis-regular", 14px, #8E8E8E, 20px);
                position: relative;
                
            }
            .active{
                position: relative;
                color:#3B5390;
                &:after{
                    content: "";
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #4565AA;
                    position: absolute;
                    bottom:-19px;
                }
            }
        }
    }
}

//mobil cabinet-menu-list
.mobil-carousel-list{
    width: 100%;
    .cabinet-mobil-list{
        .item{
            
            a{
                @include fontFamily("grandis-regular", 14px, #8E8E8E, 20px);
                
            }
            .active{
                position: relative;
                color:#3B5390;
                &:after{
                    content: "";
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #4565AA;
                    position: absolute;
                    bottom:-3px;
                }
            }
        }
        .owl-nav{
            display: none;
        }
    }
    @media(min-width:768px){
        display: none;
    }
}

//share style
.share{
    width: 100%;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    margin-bottom: 130px;
    @media(max-width:575px){
        margin-bottom: 56px;
    }
    .share_link{
        display: flex;
        margin-left:15px;
        @media(max-width:575px){
            margin-left:0px;
        }
        li{
            margin-right: 16px;
            button{
                width: 40px;
                height: 40px;
                border: 1px solid #EAEAEA;
                border-radius: 100%;
                transition: ease-in-out .3s;
                display: flex;
                background-color: #fff;
                align-items: center;
                justify-content: center;
                outline: none;
                cursor: pointer;
                img{
                    filter: brightness(0);
                }
                
            }

            .fb{
                &:hover{
                    background-color:#3B5998 ;
                    border: none;
                }
                &:hover img{
                    filter: none; 
                }
            }

            .twitt{
                &:hover{
                    background-color:#38A1F3;
                    border: none;
                }
                &:hover img{
                    filter: none; 
                }
            }

            .linked{
                &:hover{
                    background-color: #0072B1;
                    border: none;
                }
                &:hover img{
                    filter: none; 
                }
            }

            .whtapp{
                &:hover{
                    background-color: #25D366;
                    border: none;
                }
                &:hover img{
                    filter: none; 
                }
            }

            .telegram{
                &:hover{
                    background-color: #0088CC;
                    border: none;
                }
                &:hover img{
                    filter: none; 
                }
            }

            .link{
                &:hover{
                    background-color: #F17F65;
                    border: none;
                }
                &:hover img{
                    filter: none; 
                }
            }
        }
    }

    span{
        @include fontFamily('grandis-regular', 16px, $articlecolor, 24px);
        font-weight: normal;
    }
}