
article{
    h2{
        @include fontFamily('grandis-medium', 32px, $goodcolor, 40px);
        font-weight: 500;
        margin-bottom: 24px;
        font-weight: normal;
        @media(max-width:575px){
            @include fontFamily('grandis-medium', 24px, $goodcolor, 32px);
        }
    }
    h3{
        @include fontFamily('grandis-medium', 20px, $goodcolor, 28px);
        font-weight: normal;
    }
    time{
        @include fontFamily('grandis-regular', 12px, $wht, 16px);
        font-weight: 500;
        width: 174px;
        padding:9px 16px 7px;
        margin-bottom: 30px;
        border-radius: 4px;
        background-color: $datecl;
        margin-bottom: 24px;
        display: block;
    }
    p{
        @include fontFamily("grandis-regular", 16px, $articlecolor, 24px);
        font-weight: normal;
        margin-bottom: 15px;
        a{
            color:#4565AA;
        }
    }
    a{
        color: #4565AA;
        display: block;
        @include fontFamily("grandis-regular", 16px, $articlecolor, 24px);
    }
}