.mobil_carousel{
    width: 100%;
    margin-top:15px;
    @media(min-width: 576px){
        display: none;
    }

    .owl-carousel{
        .owl-nav{
            display: none;
        }
        .owl-dots{
            display: none; 
        }

        .item{
        
            .portal_inner{
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #EAEAEA;
                border-radius: 8px;
                .portal_block{
                    display: block;
                    width: 100%;
                    padding:20px;
                    img{
                        width: 50px;
                        height: 50px;
                    }
    
                    span{
                        display: block;
                        margin-top: 24px;
                        font-weight: 500;
                        @include fontFamily("grandis-medium", 16px, $goodcolor, 24px);
                    }
        
                    p{
                        @include fontFamily("grandis-regular", 14px, $verificl, 20px);
                        font-weight: normal;
                        margin-top:8px;
                    }
                }
            }

            .good_luck_inner{
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #EAEAEA;
                border-radius: 8px;
                .luck_block{
                    display: block;
                    width: 100%;
                    padding:20px;
                    .counter1{
                        @include fontFamily('grandis-medium', 64px, #486A99,   80px);
                        font-weight: 500;
                    }
                    .counter2{
                        @include fontFamily('grandis-medium', 64px, #ECAF77,   80px);
                        font-weight: 500;
                    }
                    .counter3{
                        @include fontFamily('grandis-medium', 64px, #1C9B82,   80px);
                        font-weight: 500;
                    }
                    .counter4{
                        @include fontFamily('grandis-medium', 64px, #EA69A5,   80px);
                        font-weight: 500;
                    }

                    p{
                        @include fontFamily('grandis-medium', 20px, $goodcolor, 28px);
                        font-weight: 500;
                        margin-top:10px;
                    }
                }
            
            }
            
        }
        .owl-stage{
            padding-left: 0px !important;
        }
    }

    //mobil carousel
    .partners-item{
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        padding:58px 24px;
        .partner_block{
            display: block;
            width: 100%;
            height: 100%;
            
        }
    }
}

.mobil_carusel1{
    .owl-nav{
        display: none;
    }
    .owl-dots{
        display:flex !important;
        justify-content: center;
        button{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 8px;
            background: rgba(0, 0, 0, 0.08) !important;
            transition: .3s;
            outline: none;
        }
        .active{
            background: rgba(0, 0, 0, 0.48) !important;
        }
    }

}
//mobil news block
.mobil-news-block{
    padding-top:40px;
    //padding-bottom:80px;
    background-image: url("../img/newsbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    @media(min-width:576px){
        display: none;
    }

    .mobil-title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        h2{
            @include fontFamily('grandis-medium', 24px, $wht, 32px);
            font-weight: 500;
        }

    }
    .mobil-news{
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 8px 16px rgba(142, 142, 142, 0.32);
        border-radius: 8px;
        padding: 24px;
        margin-bottom: 24px;
        p{
            @include fontFamily('grandis-regular', 16px, $goodcolor, 24px);
            margin-bottom: 48px;
        }

        .date{
            @include fontFamily('grandis-medium', 16px, $goodcolor, 24px);
            font-weight: 500;
        }
    }
}
//verification mobil css
.verification-mobil{
    width: 100%;
    padding:24px;
    background-color: $verificl;
    @media (min-width:576px){
        display: none;
    }
    h2{
        @include fontFamily("grandis-medium", 24px,$wht, 32px);
        font-weight: 500;
        margin-bottom: 15px;
    }
    form{
        label{
            @include fontFamily("grandis-regular", 14px,$wht, 20px);
            margin-bottom: 4px;
            display: block;
        }
        input{
            padding:15px;
            background: #FFFFFF;
            border: 1px solid #EAEAEA;
            border-radius: 8px;
            @include fontFamily("grandis-regular", 14px,#8E8E8E, 20px);
        }
        input[type="submit"]{
            padding:16px 16px 16px 16px;
            background-color: #F17F65;
            margin-left:8px;
            border:1px solid #F17F65;
            @include fontFamily("grandis-medium", 14px,$wht, 20px);
            
        }
    }
}