//pop up style 
.open-button{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.item-login{
    width: 432px !important;
    flex-direction: column;
    margin: auto;
}
  
.pop_up {
display: none;
position: fixed;
transition: ease-in-out .3s;
top: 0;
left:0;
width: 100%;
height: 100vh;
background: rgba(0, 0, 0, 0.72);
z-index: 9;
.close_icon{
    position: absolute;
    top: 11%;
    right: 20%;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.log-in{
    padding:40px;
    background-color: red;;
}
}

.our-team-popup{

.team-popup{
    height: 100vh;
    display: flex;
    align-items: center;
    .team-popup-item{
        width: 688px;
        padding:40px;
        border-radius: 8px;  
        background-color: $wht;
        display: flex;
        //flex-direction: column;
        margin: auto;
        //flex-wrap: wrap;
        overflow-y: scroll;
        @media(max-width:460px){
            width: 100%;
        }
        .img-popup{
            width: 350px;
            border: 1px solid #EAEAEA;
            border-radius: 8px;
            @media(max-width:460px){
                width: 100%;
            }
            .img{
                
                img{
                    width: 100%;
                    border-top-left-radius: 8px;
                    border-top-right-radius:8px ;
                }
            }
        }
        .img-title{
            padding:20px;
            background-color: #FCFCFC;
            h2{
                @include fontFamily("grandis-medium", 16px, $goodcolor, 24px);
                margin-bottom: 8px;
                font-weight: 500;
            }

            p{
                @include fontFamily("grandis-regular", 14px, $goodcolor, 20px);
            }
        }

        .popup-news{
            padding-left: 30px;
            .about-title{
                @include fontFamily("grandis-medium", 14px, #4565AA, 20px);
                margin-bottom: 8px;
            }

            p{
                @include fontFamily("grandis-regular", 16px, $goodcolor, 24px);
                margin-bottom: 28px;
            }

            a{
                margin-right: 22px;
            }
        }
        .regis-select{
            width: 100%;
            margin-bottom: 24px;
            .select-item{
                padding: 18px 20px;
                border: 1px solid #EAEAEA;
                border-radius: 8px;
                height: 56px;
                
                
                a{
                    display: block;
                    width: 100%;
                    @include fontFamily("grandis-regular", 16px, #8E8E8E, 24px);
                }

                .select-drop{
                    height: 0px;
                    overflow: hidden;
                    transition: ease-in-out .3s;
                    margin-top: 10px;
                }

                &:hover .select-drop{
                    height: 300px;
                }
            }
        }
    }
}
}
  //pop up style



  .project-popup{
    .project-login{
        width: 432px;
        padding:40px;
        background-color: #fff;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3{
            @include fontFamily("grandis-medium", 20px, $goodcolor, 28px);
            font-weight: 500;
            margin-bottom: 32px;
        }
        form{
            input{
                padding: 18px 20px 14px 20px;
                border: 1px solid #EAEAEA;
                border-radius: 8px;
                width: 100%;
            }

            .field-icon{
                position: absolute;
                right: 56px;
                margin-top: 15px;
            }
        }
    }
  }