//fancy box css
.fancybox-container{
    .fancybox-inner{
        .fancybox-infobar{
            display: none;
        }
        .fancybox-navigation{
            position: absolute;
            right: 0;
            bottom:100px;
            display: flex;
            .fancybox-button--arrow_left{
                left: -72px;
                top: -24px;
                padding: 0px;
                width: 0px;
                height: 0px;
                div{
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    background-color: #373B44;
                }
                
            }

            .fancybox-button--arrow_right{
                top:-75px;
                padding: 0px;
                width: 0px;
                height: 0px;
                right: 74px;
                div{
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    background-color: #373B44;
                }
            }
        
        }
        .fancybox-toolbar{
            height: 100%;
            background-color: #fff;
            padding:30px;
            @media(max-width:575px){
                background-color:transparent;
            }
            .fancybox-button--close{
                width: 40px;
                height: 40px;
                background-color: #4565AA;
                border-radius:100%;
            }

            .fancybox-button--zoom{
                display: none !important;
            }
            .fancybox-button--play{
                display: none !important;
            }
            .fancybox-button--thumbs{
                position: absolute;
                width: 40px;
                height: 40px;
                background-color: #373B44;
                bottom: 30px;
                border-radius: 100%;

                svg{
                    path{
                        margin:10px;
                    }
                }
            }
            
        }
        .fancybox-stage{
            @media(max-width:575px){
                background-color: #fff;
            }
        }
    }
}