
<ul>
    <li><a href="#" ><img src="img/next.svg" alt=""></a></li>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">...</a></li>
    <li><a href="#"><img src="img/next.svg" alt=""></a></li>
</ul>
