
<div class="portals">
    <div class="container">
        <h3 class="block-title">Portalın faydaları</h3>

        <div class="row pt-3 carousel_block">
            {{#each portals_box}}
                <div class="col-md-4">
                    <div class="portals_item b-radius">
                        <a href="">
                            <img src="img/{{portal_icon}}" alt="">

                            <span>{{port_box_title}}</span>

                            <p>{{port_box_text}}</p>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>

        {{!-- mobil carusel --}}
        <div class="mobil_carousel">
            <div class="owl-carousel mobil_carusel ">
                <div class="item">
                    <div class="portal_inner">
                        <a href="" class="portal_block">
                            <img src="img/icon1.svg" alt="">

                            <span>Ən böyük portal</span>

                            <p>Ölkənin hər yerindən minlərlə könüllülər, tədbirlər, layihələr və biliklər haqqında məlumat tapa bilərsiniz</p>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="portal_inner">
                        <a href="" class="portal_block">
                            <img src="img/icon2.svg" alt="">

                            <span>Ən böyük portal</span>

                            <p>Ölkənin hər yerindən minlərlə könüllülər, tədbirlər, layihələr və biliklər haqqında məlumat tapa bilərsiniz</p>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="portal_inner">
                        <a href="" class="portal_block">
                            <img src="img/icon3.svg" alt="">

                            <span>Ən böyük portal</span>

                            <p>Ölkənin hər yerindən minlərlə könüllülər, tədbirlər, layihələr və biliklər haqqında məlumat tapa bilərsiniz</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{!-- mobil carusel --}}
    </div>
</div>


