
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        {{> head }}
    </head>

    <body>

    {{>header }}

    {{> body }}

    {{>footer}}

    <!-- injector:js -->
    <script src="js/min/jquery.min.js"></script>
    <script src="js/min/jquery.fancybox.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/min/owl.carousel.min.js"></script>
    <script src="js/min/eip.js"></script>
    <script src="js/min/wow.min.js"></script>
    <script src="js/min/sharer.min.js"></script>
     <script src="js/min/masonry-3.1.4.js"></script>  
<script src="js/min/masonry.filter.js"></script>  
<script src="js/min/imagesloaded.js"></script>  
    <script src="js/min/main.min.js"></script>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/603bc9c01c1c2a130d635200/1evkooj8c';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    </body>
</html>
