---
    title: Home
    description: This is home page
---

{{#is not-found false}}
    <footer>
    <div class="container">
        <div class="footer-inner">
            <p>Gazelli group @</p>
            <ul class="center-foot-list">
                <li><a href="aboutg.html">О нас</a></li>
                <li><a href="contact.html">Контакты галереи</a></li>
                <li><a href="action.html">Аукцион</a></li>
                <li><a href="terms-of-use.html">Terms of use</a></li>
            </ul>
            <ul class="foot-social-list">
                <li><a href="https://www.facebook.com/gazelliarthouse.aze"><img src="img/facebook_white_icon.svg" alt=""></a></li>
                <li><a href="https://www.instagram.com/gazelliarthouse.baku/"><img src="img/instagram_white_icon.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
{{/is}}


