

{{#is not-found false}}
<header >
    <div class="container">
        <nav class="head-menu">
            <div class="nav-left">
                <a href="index.html"><h1>GAZELLI ART</h1></a>
                <form action="">
                    <input type="text" class="search">
                </form>
            </div>
            <div class="nav-right">
                <ul class="cabinet-inner">
                    <li><a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a><span>2</span></li>
                    <li><a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a><span>2</span></li>
                </ul>
             {{#is cabinet false}}
            <ul class="user-block">
                <li class="log-out"><a href=""><img src="img/user_white_icon.svg" alt=""><span>Эмиль Сулейманов</span></a>  
                    <ul class="exit">
                        <li><a href="">log out</a></li>
                    </ul>
                </li>
            </ul>
            {{/is}}
            {{#is login false}}
            <span id="show" class="sing-in">
                Sing in
                <img src="img/sign_white_icon.svg" alt="">
            </span>
            {{/is}}
            <span class="burger-menu" id="open-menu"><img src="img/iconburger.svg" alt=""></span>
            </div>
        </nav>
    </div>
</header>

<div class="menu">
    <div class="container">
        <div class="bottom-menu">
            <div class="menu-left">
                <ul class="list-menu">
                    <li><a href="xudojniki.html" class="pl">Художники</a></li>
                    <li><a href="product-list.html">Картины</a></li>
                    <li><a href="product-list.html">Скульптуры    </a></li>
                    <li><a href="product-list.html">Фотографии </a></li>
                    <li><a href="editions.html">Издания </a></li>
                    <li><a href="events.html">Мероприятия </a></li>
                    <li><a href="action.html">Акции </a></li>
                </ul>
            </div>
            <div class="currency">
                <select name="sources" id="sources" class="custom-select sources" placeholder="AZN">
                    <option value="profile">AZN</option>
                    <option value="word">USD</option>
                    <option value="hashtag">Eur</option>
                </select>
                <select name="sources" id="sources" class="custom-select sources" placeholder="AZ">
                    <option value="profile"> <img src="img/flag_az.png" alt=""> RU</option>
                    <option value="word">AZ</option>
                    <option value="hashtag">EN</option>
                </select>
                <ul class="cabinet-inner">
                    <li><a href="favorit.html"><img src="img/heart_white_icon.svg" alt=""></a><span>2</span></li>
                    <li><a href="basket.html"><img src="img/basket_white_icon.svg" alt=""></a><span>2</span></li>
                </ul>
                 
            </div>
        </div>
    </div>
</div>
{{/is}}

<div class="pop-up-login" id="pop-up-login">
        <span id="close-btn" ><img src="img/close2.svg" alt=""></span>
    <div class="log-in">
            <div class="social_sign">
                <a href="">
                    <img src="img/google_icon.svg" alt="">
                    Log in with Google
                </a>
            </div>
            <p>or</p>
            <form action="">
                <div class="form-group">
                    <input type="text" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Password">
                </div>
                <input type="submit" class="btn" value="Log in">
            </form>
            <a href="forget_password.html" class="for-btn">Forgot password?</a>
            <div class="link-box">
                <a href="" class="for-btn">No account?</a>
                <a href="registration.html" class="for-btn">Create one</a>
            </div>
    </div>
</div>

<div class="mobil-menu" id="mobil-menu">
    <div class="head">
        <div class="box">
            <a href="" class="brand-logo"><img src="img/logo.svg" alt=""></a>
            <span id="close-menu" class="close-btn"><img src="img/close2.svg" alt=""></span>
        </div>
        <div class="search-block">
            <form action="">
                <input type="text" class="search" placeholder="Search">
            </form>
        </div>
    </div>
    <div class="inner-menu">
        <ul>
            <li><a href="">Художники</a></li>
            <li><a href="">Картины</a></li>
            <li><a href="">Скульптуры</a></li>
            <li><a href="">Фотографии</a></li>
            <li><a href="">Каталоги</a></li>
            <li><a href="">Мероприятия</a></li>
            <li><a href="">Акции</a></li>
        </ul>
    </div>
</div>