<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="tags for website">
<meta name="description" content="{{ description }}">
<meta name="author" content="">

<title> Home - {{ title }} </title>

<!-- injector:css -->
<link rel="shortcut icon" type="image/x-icon" href="img/titlelogo.png" />
<link rel="stylesheet" href="css/design.min.css">
<!-- endinjector -->

